html, body {
    height: 100%;
}
  
body {
    /* background-color: rgb(33, 35, 46); */
    display: grid;
    font-family: Avenir, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    /* font-smoothing: antialiased; */
    /* 隐藏滚动栏 */
    overflow-x: hidden;

    /* background-image: url("https://api.xygeng.cn/bing/1920.php"); */
    background-repeat: no-repeat;
    background-size: 100%;
}

a{
    text-decoration: none;
}

#time_now{
    position: absolute;
    left:30%;
    top:5%;
    font-size: 50px;
    color: darkgrey;

    text-shadow: 5px 5px 5px black, 0px 0px 2px red, 2px 2px 3px green;
}
#words_everyday{
    position: relative;
    width: 550px;
    left:30%;
    margin-top:7%;
    font-size: 15px;
    color: rgb(170, 160, 160);

    text-shadow: 5px 5px 5px black, 0px 0px 2px red, 2px 2px 3px green;
}
#weather{
    color: blue;
    display: none;
    position: absolute;
    top:0%;
    left:5%;
}
