html, body {
    height: 100%;
}
  
body {
    /* background-color: rgb(33, 35, 46); */
    display: grid;
    font-family: Avenir, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    /* font-smoothing: antialiased; */
    /* 隐藏滚动栏 */
    overflow-x: hidden;

    /* background-image: url("https://api.xygeng.cn/bing/1920.php"); */
    background-repeat: no-repeat;
    background-size: 100%;
}

a{
    text-decoration: none;
}

#time_now{
    position: absolute;
    left:40%;
    top:10%;
    font-size: 40px;
    color: darkgrey;

    text-shadow: 0 0 20px #fdec84,
    10px -10px 30px #ffae35,
    20px -20px 40px #ec760c,
    -20px -60px 50px #cd4607,
    0px -80px 60px #973717,
    10px -40px 70px #451b0e;
}

#weather{
    color: blue;
    display: none;
    position: absolute;
    top:0%;
    left:5%;
}
